
###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

# Ajouter les logs au .gitignore
echo "var/log/" >> .gitignore
echo "*.log" >> .gitignore